@font-face { font-family: Graffiti Paint Brush; src: url(assets/graffitipaintbrush.woff2); }
@keyframes fadeInDown {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: left;
    width: 500px;
    max-width: 90%;
}
.logo {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 90%;
    transition: transform .3s;
}
.logo:hover, .logo:active { transform: scale(1.05); }
p, .text { font-size: 24pt; text-align: center; }
body {
    animation: fadeInDown 1s;
    color: white;
    font-family: Graffiti Paint Brush;
    background-image: url("assets/bg.webp");
    background-size: 500px;
    background-attachment: fixed;
    background-color: #111216;
    overflow-x: hidden;
}
a, a:hover, a:active, a:visited, a:focus {
    color: white;
    text-decoration: none;
}
li {
    width: 100%;
    margin-bottom: 20px;
    font-size: 26pt;
    display: inline-block;
    opacity: 0;
	animation: fadeInDown .5s ease-in forwards;
    /*background-color: rgba(255, 0, 140, 0.05);*/
}
.wrapper span, li img { vertical-align: middle; transition: .2s; }
li img {
    height: 50px;
    padding: 10px 0px 10px 10px;
}
.text {
    text-align: center;
    display: inline-block;
    /* костыль, просто на глаз */
    width: calc(100% - 110px);
    max-width: 90%;
}
.text span { text-overflow: ellipsis; white-space: nowrap; }
.wrapper {
    border: 2px solid white;
    transition: transform .2s;
}
li, .wrapper {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 103px;
}
.wrapper:hover, .wrapper:active { transform: scale(1.03); }
.wrapper:hover span, .wrapper:active span, .wrapper span:hover, .wrapper span:active { color: #f7768e; font-size: 27pt; }
.credits, .credits:visited, .credits:focus { color: pink; }
.credits:hover, .credits:active { color: #f7768e; }
footer a, footer a:visited { color: #2380be; }
footer a:hover, footer a:active { color: #7e57e0; }